XSD/dsepl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="dsepl"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
                  xmlns:msg="http://www.broservices.nl/xsd/dsepl/1.0"
                  xmlns:tns="http://www.broservices.nl/wsdl/dsepl/1.0"
                  targetNamespace="http://www.broservices.nl/wsdl/dsepl/1.0">

    <wsdl:documentation>
        Deze WSDL beschrijft de webservice voor uitgifte van mijnbouwwetvergunning
    </wsdl:documentation>

    <wsdl:types>
        <xsd:schema xmlns:tns="http://www.broservices.nl/wsdl/dsepl/1.0" targetNamespace="http://www.broservices.nl/wsdl/dsepl/1.0">
            <xsd:import namespace="http://www.broservices.nl/xsd/dsepl/1.0" schemaLocation="./dsepl-messages.xsd"/>
            <!--
            Bovenstaande import statements gebruiken een relatief pad naar een lokaal bestand als schemaLocation.
            Dit werkt prima zolang (de meest recente versie van) de betreffende XSD-bestanden nog niet beschikbaar zijn op de officiële locatie.
            Het heeft de voorkeur bovenstaande schemaLocations te vervangen door onderstaande schemaLocations naar de officiële locatie zodra dit kan, of gebruik te maken van een schema catalog indien de gebruikte tooling dit ondersteunt.
            <xsd:import namespace="http://www.broservices.nl/xsd/dsepl/1.0" schemaLocation="https://schema.broservices.nl/xsd/dsepl/1.0/dsepl-messages.xsd"/>
            -->
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="dispatchDataRequest">
        <wsdl:part name="request" element="msg:dispatchDataRequest"/>
    </wsdl:message>

    <wsdl:message name="dispatchDataResponse">
        <wsdl:part name="response" element="msg:dispatchDataResponse"/>
    </wsdl:message>

    <wsdl:message name="dispatchCharacteristicsRequest">
        <wsdl:part name="request" element="msg:dispatchCharacteristicsRequest"/>
    </wsdl:message>

    <wsdl:message name="dispatchCharacteristicsResponse">
        <wsdl:part name="response" element="msg:dispatchCharacteristicsResponse"/>
    </wsdl:message>

    <wsdl:message name="parseSoapFault">
        <wsdl:part name="parseFault" element="msg:parseFault"/>
    </wsdl:message>

    <wsdl:portType name="dsepl">
        <wsdl:operation name="dispatchData">
            <wsdl:input message="tns:dispatchDataRequest" wsam:Action="http://www.broservices.nl/wus/dsepl/dispatchDataRequest"/>
            <wsdl:output message="tns:dispatchDataResponse" wsam:Action="http://www.broservices.nl/wus/dsepl/dispatchDataResponse"/>
            <wsdl:fault name="parsefault" message="tns:parseSoapFault" wsam:Action="http://www.broservices.nl/wus/dsepl/parseSoapFault"/>
        </wsdl:operation>
        <wsdl:operation name="dispatchCharacteristics">
            <wsdl:input message="tns:dispatchCharacteristicsRequest" wsam:Action="http://www.broservices.nl/wus/dsepl/dispatchCharacteristicsRequest"/>
            <wsdl:output message="tns:dispatchCharacteristicsResponse" wsam:Action="http://www.broservices.nl/wus/dsepl/dispatchCharacteristicsResponse"/>
            <wsdl:fault name="parsefault" message="tns:parseSoapFault" wsam:Action="http://www.broservices.nl/wus/dsepl/parseSoapFault"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="dsepl_SOAP" type="tns:dsepl">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="dispatchData">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="parsefault">
                <soap:fault name="parsefault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="dispatchCharacteristics">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="parsefault">
                <soap:fault name="parsefault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="dsepl">
        <wsdl:port name="dsepl_SOAP" binding="tns:dsepl_SOAP">
            <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
