XSD/isepl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright TNO Geologische Dienst Nederland

    Alle rechten voorbehouden.
    Niets uit deze software mag worden vermenigvuldigd en/of openbaar gemaakt door middel van druk, fotokopie,
    microfilm of op welke andere wijze dan ook, zonder voorafgaande toestemming van TNO.

    Indien deze software in opdracht werd uitgebracht, wordt voor de rechten en verplichtingen van opdrachtgever
    en opdrachtnemer verwezen naar de Algemene Voorwaarden voor opdrachten aan TNO, dan wel de betreffende
    terzake tussen de partijen gesloten overeenkomst.

-->
<wsdl:definitions name="isepl"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:brocom="http://www.broservices.nl/xsd/brocommon/3.0"
                  xmlns:msg="http://www.broservices.nl/xsd/isepl/1.0"
                  xmlns:tns="http://www.broservices.nl/wsdl/isepl/1.0"
                  targetNamespace="http://www.broservices.nl/wsdl/isepl/1.0">

    <wsdl:documentation>
        Deze WSDL beschrijft de webservice voor inname van mijnbouwwetvergunning
    </wsdl:documentation>

    <wsdl:types>
        <xsd:schema xmlns:tns="http://www.broservices.nl/wsdl/isepl/1.0" targetNamespace="http://www.broservices.nl/wsdl/isepl/1.0">
            <xsd:import namespace="http://www.broservices.nl/xsd/isepl/1.0" schemaLocation="./isepl-messages.xsd"/>
            <xsd:import namespace="http://www.broservices.nl/xsd/brocommon/3.0" schemaLocation="./brocommon.xsd"/>
            <!--
            Bovenstaande import statements gebruiken een relatief pad naar een lokaal bestand als schemaLocation.
            Dit werkt prima zolang (de meest recente versie van) de betreffende XSD-bestanden nog niet beschikbaar zijn op de officiële locatie.
            Het heeft de voorkeur bovenstaande schemaLocations te vervangen door onderstaande schemaLocations naar de officiële locatie zodra dit kan, of gebruik te maken van een schema catalog indien de gebruikte tooling dit ondersteunt.
            <xsd:import namespace="http://www.broservices.nl/xsd/isepl/1.0" schemaLocation="https://schema.broservices.nl/xsd/isepl/1.0/isepl-messages.xsd"/>
            <xsd:import namespace="http://www.broservices.nl/xsd/brocommon/3.0" schemaLocation="https://schema.broservices.nl/xsd/brocommon/3.0/brocommon.xsd"/>
            -->
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="registrationRequest">
        <wsdl:part name="request" element="msg:registrationRequest" />
    </wsdl:message>

    <wsdl:message name="replaceRequest">
        <wsdl:part name="request" element="msg:replaceRequest" />
    </wsdl:message>

    <wsdl:message name="deleteRequest">
        <wsdl:part name="request" element="msg:deleteRequest" />
    </wsdl:message>

    <wsdl:message name="moveRequest">
        <wsdl:part name="request" element="msg:moveRequest" />
    </wsdl:message>

    <wsdl:message name="intakeResponse">
        <wsdl:part name="response" element="msg:intakeResponse" />
    </wsdl:message>

    <wsdl:message name="parseSoapFault">
        <wsdl:part name="parseFault" element="msg:parseFault" />
    </wsdl:message>

    <wsdl:message name="DeliveryResponsiblePartyHeader">
        <wsdl:part name="deliveryResponsibleParty" element="brocom:deliveryResponsibleParty"/>
    </wsdl:message>

    <wsdl:portType name="isepl">
        <wsdl:operation name="register">
            <wsdl:input message="tns:registrationRequest" wsam:Action="http://www.broservices.nl/wus/isepl/registrationRequest" />
            <wsdl:output message="tns:intakeResponse" wsam:Action="http://www.broservices.nl/wus/isepl/intakeResponse" />
            <wsdl:fault message="tns:parseSoapFault" name="parseFault" wsam:Action="http://www.broservices.nl/wus/isepl/parseSoapFault" />
        </wsdl:operation>
        <wsdl:operation name="replace">
            <wsdl:input message="tns:replaceRequest" wsam:Action="http://www.broservices.nl/wus/isepl/replaceRequest" />
            <wsdl:output message="tns:intakeResponse" wsam:Action="http://www.broservices.nl/wus/isepl/intakeResponse" />
            <wsdl:fault message="tns:parseSoapFault" name="parseFault" wsam:Action="http://www.broservices.nl/wus/isepl/parseSoapFault" />
        </wsdl:operation>
        <wsdl:operation name="delete">
            <wsdl:input message="tns:deleteRequest" wsam:Action="http://www.broservices.nl/wus/isepl/deleteRequest" />
            <wsdl:output message="tns:intakeResponse" wsam:Action="http://www.broservices.nl/wus/isepl/intakeResponse" />
            <wsdl:fault message="tns:parseSoapFault" name="parseFault" wsam:Action="http://www.broservices.nl/wus/isepl/parseSoapFault" />
        </wsdl:operation>
        <wsdl:operation name="move">
            <wsdl:input message="tns:moveRequest" wsam:Action="http://www.broservices.nl/wus/isepl/moveRequest" />
            <wsdl:output message="tns:intakeResponse" wsam:Action="http://www.broservices.nl/wus/isepl/intakeResponse" />
            <wsdl:fault message="tns:parseSoapFault" name="parseFault" wsam:Action="http://www.broservices.nl/wus/isepl/parseSoapFault" />
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="isepl_SOAP" type="tns:isepl">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="register">
            <soap:operation soapAction="" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
                <soap:header use="literal" part="deliveryResponsibleParty" message="tns:DeliveryResponsiblePartyHeader" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="parseFault">
                <soap:fault name="parseFault" use="literal" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="replace">
            <soap:operation soapAction="" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
                <soap:header use="literal" part="deliveryResponsibleParty" message="tns:DeliveryResponsiblePartyHeader" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="parseFault">
                <soap:fault name="parseFault" use="literal" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="delete">
            <soap:operation soapAction="" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
                <soap:header use="literal" part="deliveryResponsibleParty" message="tns:DeliveryResponsiblePartyHeader" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="parseFault">
                <soap:fault name="parseFault" use="literal" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="move">
            <soap:operation soapAction="" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
                <soap:header use="literal" part="deliveryResponsibleParty" message="tns:DeliveryResponsiblePartyHeader" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="parseFault">
                <soap:fault name="parseFault" use="literal" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="isepl">
        <wsdl:port name="isepl_SOAP" binding="tns:isepl_SOAP">
            <soap:address location="REPLACE_WITH_ACTUAL_URL" />
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>
