XSD/new_isepl-messages.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright 2012-2022 TNO Geologische Dienst Nederland
    Alle rechten voorbehouden.
    Niets uit deze software mag worden vermenigvuldigd en/of openbaar gemaakt door middel van druk, fotokopie,
    microfilm of op welke andere wijze dan ook, zonder voorafgaande toestemming van TNO.
    Indien deze software in opdracht werd uitgebracht, wordt voor de rechten en verplichtingen van opdrachtgever
    en opdrachtnemer verwezen naar de Algemene Voorwaarden voor opdrachten aan TNO, dan wel de betreffende
    terzake tussen de partijen gesloten overeenkomst.
-->
<xs:schema xmlns:brocom="http://www.broservices.nl/xsd/brocommon/3.0"
           xmlns:eplcom="http://www.broservices.nl/xsd/eplcommon/1.0"
           xmlns:gml="http://www.opengis.net/gml/3.2"
           xmlns:gmlsf="http://www.opengis.net/gmlsf/2.0"
           xmlns:isepl="http://www.broservices.nl/xsd/isepl/1.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.broservices.nl/xsd/isepl/1.0"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified"
           version="1.0.0">
    <xs:annotation>
        <xs:appinfo source="http://schemas.opengis.net/gmlsfProfile/2.0/gmlsfLevels.xsd">
            <gmlsf:ComplianceLevel>0</gmlsf:ComplianceLevel>
        </xs:appinfo>
    </xs:annotation>
    <xs:import namespace="http://www.broservices.nl/xsd/eplcommon/1.0" schemaLocation="https://schema.broservices.nl/xsd/eplcommon/1.0/eplcommon.xsd"/>
    <xs:import namespace="http://www.broservices.nl/xsd/brocommon/3.0" schemaLocation="https://schema.broservices.nl/xsd/brocommon/3.0/brocommon.xsd"/>
    <xs:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="https://schema.broservices.nl/profile/gml/1.0/gml-profile.xsd"/>
    <xs:element name="intakeResponse" type="brocom:IntakeResponseType"/>
    <xs:element name="parseFault" type="brocom:ParseFaultType"/>
    <xs:element name="registrationRequest" type="isepl:RegistrationRequestType">
        <xs:annotation>
            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het bericht RegistrationRequest is een specialisatie van de abstract klasse RegistrationRequest uit de package brocommon, waaraan het een sourceDocument toevoegt. Met dit bericht kan een nog niet geregistreerde mijnbouwwetvergunning in de BRO worden opgenomen of kan de registratie van een mijnbouwwetvergunning worden aangevuld of voltooid.
Explanation: De registratie van een object met een levenscyclus, zoals bij een mijnbouwwetvergunning, wordt initieel gestart, eventueel aangevuld en eventueel uiteindelijk voltooid. Met een registrationRequest wordt de registratie gestart, aangevuld of voltooid. Met een replaceRequest worden in de registratie opgenomen gegevens vervangen. Met een insertRequest worden gegevens tussengevoegd in de tijdlijn. Met een moveRequest worden gegevens verplaatst op de tijdlijn. Met een deleteRequest worden gegevens op een bepaald moment in de tijdlijn verwijderd.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="RegistrationRequestType">
        <xs:complexContent>
            <xs:extension base="brocom:RegistrationRequestType">
                <xs:sequence>
                    <xs:element name="sourceDocument" type="eplcom:sourceDocumentType" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het element sourceDocument bevat gegevens die in het BRO-systeem geregistreerd zullen worden en die in de catalogus van het registratieobject zijn gespecificeerd, met uitzondering van de gegevens die door het BRO-systeem worden gegenereerd of afgeleid uit het innameverzoek.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="replaceRequest" type="isepl:CorrectionRequestType">
        <xs:annotation>
            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het bericht replaceRequest is een specialisatie van brocom:CorrectionRequest, waaraan het een correctiereden en een brondocument toevoegt. Met een replaceRequest, dat een dataleverancier (ofwel tevens bronhouder danwel in opdracht van de bronhouder) aanbiedt bij de innamewebservice van het BRO systeem, wordt de inhoud van een eerder aangeboden brondocument in de tijdlijn van de materiële geschiedenis vervangen.
Explanation: De registratie van een object met een levenscyclus, zoals bij een mijnbouwwetvergunning, wordt initieel gestart, eventueel aangevuld en eventueel uiteindelijk voltooid. Met een registrationRequest wordt de registratie gestart, aangevuld of voltooid. Met een replaceRequest worden in de registratie opgenomen gegevens vervangen. Met een insertRequest worden gegevens tussengevoegd in de tijdlijn. Met een moveRequest worden gegevens verplaatst op de tijdlijn. Met een deleteRequest worden gegevens op een bepaald moment in de tijdlijn verwijderd.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="insertRequest" type="isepl:CorrectionRequestType">
        <xs:annotation>
            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het bericht insertRequest is een specialisatie van brocom:CorrectionRequest, waaraan het een correctiereden en een brondocument toevoegt. Met een insertRequest, dat een dataleverancier (ofwel tevens bronhouder danwel in opdracht van de bronhouder) aanbiedt bij de innamewebservice van het BRO systeem, wordt de inhoud van het brondocument tussengevoegd in de tijdlijn.
Explanation: De registratie van een object met een levenscyclus, zoals bij een mijnbouwwetvergunning, wordt initieel gestart, eventueel aangevuld en eventueel uiteindelijk voltooid. Met een registrationRequest wordt de registratie gestart, aangevuld of voltooid. Met een replaceRequest worden in de registratie opgenomen gegevens vervangen. Met een insertRequest worden gegevens tussengevoegd in de tijdlijn. Met een moveRequest worden gegevens verplaatst op de tijdlijn. Met een deleteRequest worden gegevens op een bepaald moment in de tijdlijn verwijderd.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="deleteRequest" type="isepl:CorrectionRequestType">
        <xs:annotation>
            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het bericht deleteRequest is een specialisatie van brocom:CorrectionRequest, waaraan het een correctiereden en een brondocument toevoegt. Met een deleteRequest, dat een dataleverancier (ofwel tevens bronhouder danwel in opdracht van de bronhouder) aanbiedt bij de innamewebservice van het BRO systeem, wordt gegevens op een bepaald moment in de tijdlijn verwijderd.
Explanation: De registratie van een object met een levenscyclus, zoals bij een mijnbouwwetvergunning, wordt initieel gestart, eventueel aangevuld en eventueel uiteindelijk voltooid. Met een registrationRequest wordt de registratie gestart, aangevuld of voltooid. Met een replaceRequest worden in de registratie opgenomen gegevens vervangen. Met een insertRequest worden gegevens tussengevoegd in de tijdlijn. Met een moveRequest worden gegevens verplaatst op de tijdlijn. Met een deleteRequest worden gegevens op een bepaald moment in de tijdlijn verwijderd.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="CorrectionRequestType">
        <xs:complexContent>
            <xs:extension base="brocom:CorrectionRequestType">
                <xs:sequence>
                    <xs:element name="correctionReason" minOccurs="1" maxOccurs="1" type="isepl:CorrectionReasonType">
                        <xs:annotation>
                            <xs:appinfo>
                                <CodeListName>CorrectionReason</CodeListName>
                                <CodeListURI>urn:bro:epl:CorrectionReason</CodeListURI>
                            </xs:appinfo>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Dit element bevat één van de gedefineerde brondocumenten.
Explanation: Het element sourceDocument vervangt een eerder aangeboden brondocument in de tijdlijn van de materiële geschiedenis van het registratieobject in de BRO, met uitzondering van de gegevens die door het BRO-systeem worden gegenereerd of afgeleid.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="sourceDocument" type="eplcom:sourceDocumentType" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De reden waarom de geregistreerde gegevens worden vervangen.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="moveRequest" type="isepl:MoveRequestType">
        <xs:annotation>
            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het bericht moveRequest is een specialisatie van isepl:CorrectionRequest, waaraan het een attribuut dateToBeCorrected toevoegt. Met een moveRequest, dat een dataleverancier (ofwel tevens bronhouder danwel in opdracht van de bronhouder) aanbiedt bij de innamewebservice van het BRO systeem, wordt een eerder aangeboden brondocument verplaatst op de tijdlijn van de materiële geschiedenis.
Explanation: De registratie van een object met een levenscyclus, zoals bij een mijnbouwwetvergunning, wordt initieel gestart, eventueel aangevuld en eventueel uiteindelijk voltooid. Met een registrationRequest wordt de registratie gestart, aangevuld of voltooid. Met een replaceRequest worden in de registratie opgenomen gegevens vervangen. Met een insertRequest worden gegevens tussengevoegd in de tijdlijn. Met een moveRequest worden gegevens verplaatst op de tijdlijn. Met een deleteRequest worden gegevens op een bepaald moment in de tijdlijn verwijderd.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="MoveRequestType">
        <xs:complexContent>
            <xs:extension base="isepl:CorrectionRequestType">
                <xs:sequence>
                    <xs:element name="dateToBeCorrected" type="brocom:PartialDateType" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De (mogelijkerwijs onvolledige) datum van de gebeurtenis, afgeleid van een eerder aangeboden brondocument, die moet worden vervangen.
Explanation: De juiste datum is opgenomen in het sourceDocument.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="CorrectionReasonType">
        <xs:simpleContent>
            <xs:restriction base="gml:CodeWithAuthorityType">
                <xs:attribute name="codeSpace" type="xs:anyURI" use="required" fixed="urn:bro:epl:CorrectionReason"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
</xs:schema>
